#red{
    color: red;
    font-size: normal;
}
#blue{
    color: blue;
    font-size: normal;
}
#orange{
    color: orange;
    font-size: normal;
}
#green{
    color: green;
    font-size: normal;
}
#yellow{
    color: yellow;
    font-size: normal;
}